<!-- template/about.html -->
{% extends "base.html" %}
<!DOCTYPE html>
<html>
{% block content %}
<div class = "container-about">
<div id="about_text">
    <h3>Unlocking Efficiency for Plastering Professionals</h3>

    <p>Welcome to PlasterPro, your trusted partner for streamlining plaster material calculations. Our innovative calculator app is tailored specifically for the plastering industry, offering both internal and external plaster solutions. Here's why PlasterPro's calculator app is a game-changer for your plastering business:</p>

    <ul class = "custom-list">
        <li>
            <strong>Precision and Speed:</strong> Plastering projects demand accuracy in material estimates. With PlasterPro's calculator, you can swiftly determine the exact amount of plaster material required, eliminating wastage and ensuring you have just the right quantities for each job. Say goodbye to guesswork and hello to precise measurements.
        </li>
        <li>
            <strong>Versatility for All Plaster Types:</strong> Whether you specialize in internal or external plastering, our app accommodates various plaster types and thicknesses. It adapts seamlessly to your project requirements, whether you're working on residential, commercial, or industrial sites.
        </li>
        <li>
            <strong>Cost-Efficiency:</strong> Efficient material use translates to cost savings. By optimizing your plaster material calculations, you'll minimize expenses, boost your bottom line, and remain competitive in the market. PlasterPro's app is your secret weapon for profitability.
        </li>
        <li>
            <strong>Enhanced Client Relations:</strong> Accurate estimates not only benefit your finances but also your reputation. Clients appreciate transparency and reliability. With our app, you can provide clients with detailed and trustworthy project quotes, fostering trust and client satisfaction.
        </li>
        <li>
            <strong>Time-Saving:</strong> Time is of the essence in the construction industry. PlasterPro's calculator app reduces the time spent on manual calculations, allowing you to focus on what matters most: delivering high-quality plastering services to your clients.
        </li>
        <li>
            <strong>Adaptable to Your Needs:</strong> PlasterPro's commitment to your success means our app is continually updated and refined to meet your evolving needs. Count on us to provide the latest features and improvements to keep your business at the forefront of the plastering industry.
        </li>
    </ul>

    <p>PlasterPro's calculator app is more than just a tool; it's your partner in plastering success. Join the ranks of satisfied plastering professionals who have harnessed the power of PlasterPro to simplify their work and elevate their businesses.</p>

    <p>Welcome to PlasterPro – where efficiency and precision meet plastering excellence.</p>
</div>
</div>

{% endblock content %}
</html>