<!-- templates/home.html -->
<!DOCTYPE html>`
{% extends "base.html" %}
{% block content %}



<div class="container">
   

    <div class="calculator">
        <h2>Plaster Estimator</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">ESTIMATE</button>
            <a href="{% url 'home' %}" class="reset-link">RESET</a>
            

        </form>
        {% if plaster_amount %}
            <p>Plaster Amount Needed: {{ plaster_amount }}</p>
        {% endif %}
    </div>
    
    <div class = "description">
        
        {% if plaster_amount%}  <!-- Check if plaster_description is available -->
        <p>Plaster Description: {{ plaster_description }}</p>
        {% endif %}
    </div>
    


</div>



{% endblock content %}
