<!-- templates/home.html -->
<!DOCTYPE html>`
{% extends "base.html" %}
{% block content %}



<div class="container">
   

    <div class="calculator">
        <h2>Plaster Estimator</h2>
        
    <form method="post">
        {% csrf_token %}
        <!-- loop to display radio buttons side by side. had trouble formatting the
        form.as.p template all other field have to be displayed individualy and formatted -->
        {% for radio in plaster_form.Area_of_use %}
            <label for="{{ radio.id }}">
                {{ radio.choice_label }}
                {{ radio.tag }}
            </label>
        {% endfor %}
        <p>{{plaster_form.plasterType.label}}   {{ plaster_form.plasterType }}</p>
        <p>{{plaster_form.length.label}}    {{ plaster_form.length }}</p>
       <p>{{plaster_form.width.label}} {{ plaster_form.width }}</p> 
        <p>{{plaster_form.thickness.label}} {{ plaster_form.thickness }}</p>
        <p>{{plaster_form.contingency.label}}   {{plaster_form.contingency}}</p>
        <div class="centered-button-container">
            <button type="submit" class="reset-link">ESTIMATE</button>
            <a href="{% url 'home' %}" class="reset-link">RESET</a>
            
        </div>
        
    </form>
    
        <!-- <form method="post">
            {% csrf_token %}
            {% for radio in plaster_form.Area_of_use %}
                <label for="{{ radio.id }}">
                    {{ radio.choice_label }}
                    {{ radio.tag }}
                </label>
            {% endfor %}
            {{ plaster_form.as_p }}
            <button type="submit">ESTIMATE</button>
            <a href="{% url 'home' %}" class="reset-link">RESET</a>
             -->

        </form>
   
        {% if plaster_amount %}
            <p>Plaster Amount Needed: {{ plaster_amount }} KG</p>
            <p>Contingency amount needed: {{contingency_needed}}</p>
            <p>Bags needed: {{bags_needed}}</p>
        {% endif %}
    </div>
    
    <div class="calculator">
        <form method="post">
            {% csrf_token %}
            {{ result_form.as_p }}
        </form>
        <div class="description-container">
            <div class="description">
                <p>{{ plaster_description }}</p>
            </div>
            <div class="image-container">
                {% if selected_plaster.plaster_image %}
                    <img src="{{ selected_plaster.plaster_image.url }}" alt="Plaster Image" class="custom-image">
                {% endif %}
            </div>
        </div>
    
    </div>
   
    <div class="button-container">
        
        {% if selected_plaster %}
        <a href="{{selected_plaster.tds_url}}" class="button">TDS</a>
        <a href="{{selected_plaster.sds_url}}" class="button">SDS</a>
        <a href="{{selected_plaster.install_url}}" class="button">INSTALLATION</a>
        <a href="{% url 'view_pdf' selected_plaster.id %}">View PDF</a>

        {% endif %}

        
    </div>
    
</div>


{% endblock content %}
